nav {
    margin-top: 10px;
	background-color: #2e6da4;
	border-radius: 2px;
	width: 560px;
	align-content: center;
	border-style: solid;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    align-content: center;
}

li {
	width: 280px;
    float: left;
}

li a {
	
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

table{
	border: 2px solid black;

}

input{
    margin-top: 20px;
}